* {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.heading{
  margin: 20px;
  text-align: center;
  color: gray;
  font-size: 50px;
}

.container {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

label {
  color: rgb(240, 114, 64);
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;

}

#lapButton {
  border-radius: 25px;
  background-color: grey;
  padding: 20px;
  outline: none;
  border: none;
  margin-top: 50px;
  font-size: 20px;
  box-shadow: 20px 20px 50px 10px rgb(230, 167, 142) inset;
}

#startButton {
  border-radius: 25px;
  background-color: grey;
  padding: 20px;
  outline: none;
  border: none;
  margin-top: 50px;
  font-size: 20px;
  box-shadow: 20px 20px 50px 10px rgb(230, 167, 142) inset;
}

hr {
  margin-top: 20px;
  margin-bottom: 10px;
  border-color: grey;
}

.result {
  margin: 0 auto;
  width: 70%;
  height: 150px;
}

#lapse {
  width: 50%;
  border-color: gray;
  list-style: none;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}